{% extends "base.html" %}

{% block title %}Página Inicial - Home{% endblock %}

{% block content %}
<div style="border: 2px solid gray; padding: 20px; border-radius: 10px; background-color: #f9f9f9;">
    <h2>Nosso negócio é.</h2>
    <p>A <strong>MotoPro</strong> é mais do que apenas uma plataforma de entregas: é um ponto de convergência onde motoboys, empresas e clientes se conectam de maneira simples e eficiente, criando uma integração completa da cadeia de entregas.</p>

    <p><strong>Para os motoboys:</strong> é a oportunidade de se conectar com empresas e clientes em busca de seus serviços, otimizando o tempo e garantindo mais oportunidades de trabalho.</p>

    <p><strong>Para as empresas:</strong> é uma solução prática e flexível para a gestão das entregas, podendo contar com uma rede de profissionais qualificados, pronta para atender à demanda de forma rápida e segura.</p>

    <p><strong>Para os clientes:</strong> se beneficiam com um serviço ágil, confiável e com a certeza de que suas entregas serão realizadas com a máxima eficiência.</p>

    <p>Na <strong>MotoPro</strong>, a cadeia de entregas é mais do que um processo logístico: é um ecossistema colaborativo que traz benefícios para todos os envolvidos, conectando pessoas e empresas, gerando valor e facilitando o dia a dia de quem entrega e de quem recebe.</p>
</div>

{% endblock %}
