{% extends "base.html" %}

{% block title %}Página Inicial - MotoPro{% endblock %}

{% block content %}
<main>
    <div class="content">
        <div>
            <h2 style="text-align: center; color: #333;">Pilares da Iniciativa</h2>
            <br>
            <h3 style="color: #444;"> Segurança e Dignidade</h3>
            <ul>
                <li>Criar uma plataforma que priorize o bem-estar do motoboy, oferecendo suporte, avaliações justas e
                    mecanismos de proteção contra abusos.</li>
                <li>Campanhas de conscientização sobre o papel essencial dos motoboys na economia.</li>
            </ul>
            <br>

            <h3 style="color: #444;"> Autonomia e Profissionalismo</h3>
            <ul>
                <li>Permitir que os motoboys escolham os melhores trabalhos, com total transparência sobre os ganhos.
                </li>
                <li>Oferecer treinamentos e certificações que ajudem a melhorar a qualificação e aumentar os ganhos.
                </li>
            </ul>
            <br>

            <h3 style="color: #444;"> Melhoria das Condições de Trabalho</h3>

            <ul>
                <li>Implementar benefícios como descontos em combustíveis, manutenção de motos e equipamentos de
                    segurança.</li>
                <li>Criar uma rede de apoio jurídico e psicológico para lidar com desafios da profissão.</li>
            </ul>
            <br>
            <h3 style="color: #444;"> Combate ao Preconceito</h3>

            <ul>
                <li>Campanhas para valorizar a profissão, mostrando histórias de superação e o impacto positivo dos
                    motoboys na vida das pessoas.</li>
            </ul>
        </div>
    </div>

</main>
{% endblock %}