<!DOCTYPE html>
<html>
<head>
    <title>Visualizar Rota</title>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap" async defer></script>
    <script>
    function initMap() {
        const directionsService = new google.maps.DirectionsService();
        const directionsRenderer = new google.maps.DirectionsRenderer();

        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 7,
            center: { lat: -23.55052, lng: -46.633308 }
        });
        directionsRenderer.setMap(map);

        const waypoints = [
            {% for point in waypoints %}
                { location: "{{ point }}", stopover: true },
            {% endfor %}
        ];

        const request = {
            origin: "{{ origem }}",
            destination: "{{ destino }}",
            waypoints: waypoints,
            travelMode: 'DRIVING'
        };

        directionsService.route(request, function(result, status) {
            if (status == 'OK') {
                directionsRenderer.setDirections(result);
            } else {
                alert('Erro ao calcular rota: ' + status);
            }
        });
    }
    </script>
    <style>
        #map {
            height: 500px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>Rota</h1>
    <div id="map"></div>
</body>
</html>
