{% extends "base.html" %}

{% block content %}
    <h1>Lista de Motoboys</h1>
    <a href="{% url 'motoboy-create' %}">Criar Novo Motoboy</a>
    <ul>
        {% for motoboy in motoboys %}
        <li>
            {{ motoboy.nome }} - {{ motoboy.status }}
            <a href="{% url 'motoboy-update' motoboy.pk %}">Editar</a>
            <a href="{% url 'motoboy-delete' motoboy.pk %}">Deletar</a>
        </li>
        {% endfor %}
    </ul>
    <form method="POST">
        {% csrf_token %}
        <button type="submit">Salvar Alterações de Status</button>
    </form>
    {% endblock %}
