{% extends "base.html" %}

{% block content %}
<h2>Lista de Estabelecimentos</h2>
<a href="{% url 'estabelecimento-create' %}" class="btn btn-primary">Novo Estabelecimento</a>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CEP</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for estabelecimento in estabelecimentos %}
        <tr>
            <td>{{ estabelecimento.nome }}</td>
            <td>{{ estabelecimento.cep }}</td>
            <td>{{ estabelecimento.cidade }}</td>
            <td>{{ estabelecimento.estado }}</td>
            <td>{{ estabelecimento.status }}</td>
            <td>
                <a href="{% url 'estabelecimento-update' estabelecimento.id %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'estabelecimento-delete' estabelecimento.id %}" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
