<h1>Lista de Vagas</h1>

<form method="post">
    {% csrf_token %}
    <table border="1" cellspacing="0" cellpadding="10">
        <thead>
            <tr>
                <th>ID</th>
                <th>Estabelecimento</th>
                <th>Motoboy</th>
                <th>Observações</th>
                <th>Data da Vaga</th>
                <th>Data Editável</th>
                <th>Valor</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for vaga in vagas %}
            <tr>
                <td>{{ vaga.id }}</td>
                <td>{{ vaga.estabelecimento }}</td>
                <td>
                    <select name="motoboy_{{ vaga.id }}">
                        <option value="">Nenhum</option>
                        {% for motoboy in motoboys %}
                            <option value="{{ motoboy.id }}" {% if vaga.motoboy_id == motoboy.id %}selected{% endif %}>
                                {{ motoboy }}
                            </option>
                        {% endfor %}
                    </select>
                </td>
                <td>{{ vaga.observacoes }}</td>
                <td>{{ vaga.data_vaga }}</td>
                <td>{{ vaga.data_editavel }}</td>
                <td>{{ vaga.valor }}</td>
                <td>
                    <select name="status_{{ vaga.id }}">
                        {% for key, value in vaga.STATUS_CHOICES %}
                            <option value="{{ key }}" {% if vaga.status == key %}selected{% endif %}>
                                {{ value }}
                            </option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <button type="submit" name="save_{{ vaga.id }}">Salvar</button> | 
                    <a href="{% url 'vaga-delete' vaga.pk %}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

<br>
<a href="{% url 'vaga-create' %}">Criar Nova Vaga</a>
<p></p>
<a href="{% url 'home' %}">Home</a>